.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
form {
    max-width: 400px; 
    width: 150%; 
    margin-right: 30px;
    }
.form-label {
      text-align: left;
      display: block;
    }
    
    .btn2 {
      display: block; 
      margin: 0 auto; 
      background-color: #1A5C65 !important;
      color: rgb(247, 242, 242); 
      border: none;
      padding: 10px 20px; 
      border-radius: 5px; 
      cursor: pointer; 
      transition: background-color 0.3s ease, transform 0.2s ease; 
  }
  
  .btn2:hover {
      background-color: #1f7880; 
      transform: scale(1.05); 
  }