.hloginform {
  max-width: 65%;
  padding: 0 20px;
  margin-top: 70px;
  margin-left: 17%;
    }
.hlabel {
    text-align:left;
    display: block;
}
    
.btn1 {
    display: block; 
    margin: 0 auto; 
    background-color: #1A5C65 !important;
    color: rgb(247, 242, 242); 
    border: none;
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
  }
  
.btn1:hover {
    background-color: #1f7880; 
    transform: scale(1.05); 
      
  }
@media  (max-width:480px){
 .hloginform{
  max-width: 100%;
  margin-top: 80px;
  padding: 0 0;
  margin-left: auto;
    }
  }
  @media (min-width: 481px) and (max-width: 1024px) {
    .hloginform {
      max-width: 95%;
      margin-top: 100px;
      padding: 0 20px; 
      margin-left: auto;
    }
  
    .btn1 {
      padding: 12px 25px; 
      font-size: 1.1em;
    }
  
    .form-label {
      font-size: 1.1em; 
    }
  }