
.h3log {
  color: #1A5C65;
  text-align: center;
}

.btn2 {
  background-color: #1A5C65;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.from-label {
  text-align: left;
}

.error {
  margin-left: -4em;
}


@media (max-width: 480px) {
  .h3log {
    font-size: 1em;
    text-align: center;
  }

  .btn2 {
    padding: 6px 12px;
    width: 100%;
    font-size: 0.8em;
  }

  .from-label {
    font-size: 0.8em;
    text-align: left;
  }

  .error {
    margin-left: 0;
    font-size: 0.7em;
    color: red;
  }
}
