.h3log {
  color: #1A5C65;
  text-align: center;
}

.pbtn {
  background-color: #1A5C65;
  border: none;
  padding: 4px 3px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
}
.patient-form{
  width: 100%;
  padding:10px 300px;
}

.perror {
  margin-left: -4em;
}
@media (min-width: 481px) and (max-width: 1024px) {
  .patient-form {
    padding: 10px 50px;
    height: auto;
  }

  .h3log {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 30px;
  }

  .pbtn {
    padding: 5px 8px;
    width: 100%;
    font-size: 1.1em;
  }

  .perror {
    margin-left: 0;
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .h3log {
    font-size: 1em;
    text-align: center;
  }

  .pbtn {
    padding: 5px 8px;
    width: 100%;
    font-size: 0.8em;
  }

  /* .from-label {
    font-size: 0.8em;
    text-align: left;
  } */

  .perror {
    margin-left: 0;
    font-size: 0.7em;
    color: red;
  }
  .patient-form{
    padding: 0 0;
  }
}
