.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  background-color: #1a5c64; 
  mix-blend-mode: multiply;
 
}

.logo img {
  height: 40px;
  margin: auto;
  
}

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  mix-blend-mode: multiply;
}

.go-back, .settings {
  font-size: 1.2em;
}

@media (max-width: 480px){
  header{
  margin-bottom: 10px;
  }

}