.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #1A5C65;
}
  
  .logo h1 {
    margin: 0;
  }
  
  .nav-icons a {
    margin-left: 60px;
  }
  
  .nav-icons img {
    height: 60px; 
    transition: transform 0.3s;
  }
  
  .nav-icons img:hover {
    transform: scale(1.1);
  }
  