.setting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
  
  .settings-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px; /* Default width for larger screens */
    padding: 20px;
    margin: 10px;
    border: 2px solid #1A5C65;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  .logout{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px; /* Default width for larger screens */
    padding: 20px;
    margin: 10px;
    border: 2px solid #cb2626;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  .settings-option:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
  
  .go-to-icon {
    color: #1A5C65;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .go-to-icon:hover {
    color: #147A82;
  }
 
  